c.a.post&delete_nof-DWoaVxtH8aJYoH1v.json

{"updatedAt":"2025-10-30T11:20:02.000Z","createdAt":"2025-10-28T13:17:35.381Z","id":"DWoaVxtH8aJYoH1v","name":"C.A.post&delete_noF","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["GET","POST","PUT","DELETE"],"path":"server","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,784],"id":"1cea5e64-d9f0-475b-9c9e-4e6fc94cfdf1","name":"Webhook","webhookId":"2d46d308-a878-4796-aa64-8bdc36de1dbd","alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"operation":"executeQuery","query":"WITH campos AS (\n  SELECT\n    TRIM('{{ $json.body.nombre_tipo_pago }}')  AS nombre_tipo_pago\n),\nvalidacion AS (\n  SELECT\n    CASE\n      WHEN nombre_tipo_pago IN ('undefined','') OR nombre_tipo_pago IS NULL\n      THEN 400\n      ELSE 200\n    END AS code,\n    CASE\n      WHEN nombre_tipo_pago IN ('undefined','') OR nombre_tipo_pago IS NULL\n      THEN 'Falta el campo: nombre'\n      ELSE 'Inserción exitosa'\n    END AS message\nFROM campos\n),\ninsertado AS (\n  INSERT INTO tipos_pago (\n      nombre_tipo_pago,\n      fecha_registro,\n      fecha_actualizacion\n  )\n  SELECT\n      c.nombre_tipo_pago,\n      NOW(),\n      NOW()\n  FROM campos c\n  CROSS JOIN validacion v\n  WHERE v.code = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,64],"id":"ae1ed522-bd02-4feb-9cd6-8c746276cac0","name":"INSERTA-TIPO-PAGO","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.accion }}","rightValue":"roles","operator":{"type":"string","operation":"equals"},"id":"64addf66-11b6-4842-aabe-478d9bb11e8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-ROL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5a56886-5293-477f-86ef-8bb6c864d392","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_pago","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-TIP-PAGO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2f312d6-f888-44ea-a7e8-f5fc6d3d2672","leftValue":"={{ $json.query.accion }}","rightValue":"clientes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-CLI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9000ea34-4d50-4f03-b206-709fe4df0ef8","leftValue":"={{ $json.query.accion }}","rightValue":"usuarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-USER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb492ae1-9dd0-46c4-9f23-c97813c2aa1a","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-E-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8580661-dccb-48cd-a99d-3adb957576ee","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-TP-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ead91eaf-538d-4a19-8c84-eaafb882b2c6","leftValue":"={{ $json.query.accion }}","rightValue":"ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-VENTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb7ddd20-830d-4e57-af0e-93cd3d61f847","leftValue":"={{ $json.query.accion }}","rightValue":"entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-ENTRE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b631803-26bf-44a1-91bf-7e4f2d887a10","leftValue":"={{ $json.query.accion }}","rightValue":"tamano_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-TAMA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9878313a-a969-45f0-98f3-5faf943a0714","leftValue":"={{ $json.body.accion }}","rightValue":"producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5661bea2-2760-4e76-af06-2a05e1a12852","leftValue":"={{ $json.query.accion }}","rightValue":"negocio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-NEGO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4ae6fa-36f3-473a-950c-90282645b3ba","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-DETA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e5d59b1-d104-4ebf-90d6-e86efc39b52e","leftValue":"={{ $json.query.accion }}","rightValue":"frase","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-FRASE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11dec13c-b889-4ce6-a51a-e1e0dd02ee17","leftValue":"={{ $json.query.accion }}","rightValue":"personalizacion","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-PERS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"849363ea-a50c-4547-873f-c7b691db318d","leftValue":"={{ $json.query.accion }}","rightValue":"proveedores","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROVRES"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[768,560],"id":"b1388df4-4673-4a03-b887-244adf372d6a","name":"Switch"},{"parameters":{"operation":"executeQuery","query":"WITH campos AS (\n  SELECT\n    TRIM('{{ $json.body.nombre_cliente }}')              AS nombre_cliente,\n    TRIM('{{ $json.body.apellido_cliente }}')            AS apellido_cliente,\n    TRIM('{{ $json.body.telefono_cliente }}')            AS telefono_cliente,\n    TRIM('{{ $json.body.correo_electronico_cliente }}')  AS correo_electronico_cliente\n),\nfaltantes AS (\n  SELECT\n    CONCAT_WS(', ',\n      CASE WHEN nombre_cliente   IN ('undefined','') OR nombre_cliente   IS NULL THEN 'nombre'   END,\n      CASE WHEN apellido_cliente IN ('undefined','') OR apellido_cliente IS NULL THEN 'apellido' END,\n      CASE WHEN telefono_cliente IN ('undefined','') OR telefono_cliente IS NULL THEN 'telefono' END,\n      CASE WHEN correo_electronico_cliente IN ('undefined','') OR correo_electronico_cliente IS NULL THEN 'correo' END\n    ) AS lista_faltantes\n  FROM campos\n),\nvalidacion AS (\n  SELECT\n    CASE WHEN lista_faltantes <> '' THEN 400 ELSE 200 END AS code,\n    CASE WHEN lista_faltantes <> '' THEN 'Falta el campo: ' || lista_faltantes\n         ELSE 'Inserción exitosa'\n    END AS message\n  FROM faltantes\n),\ninsertado AS (\n  INSERT INTO clientes (\n      nombre_cliente,\n      apellido_cliente,\n      telefono_cliente,\n      correo_electronico_cliente,\n      fecha_registro,\n      fecha_actualizacion,\n      activo\n  )\n  SELECT\n      c.nombre_cliente,\n      c.apellido_cliente,\n      c.telefono_cliente,\n      c.correo_electronico_cliente,\n      NOW(),\n      NOW(),\n      true\n  FROM campos c\n  CROSS JOIN validacion v\n  WHERE v.code = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,208],"id":"80f513b5-2586-49ec-8490-39cdad0ddd11","name":"INSERTAR CLIENTE","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH campos AS (\n  SELECT\n    TRIM('{{ $json.body.nombre_usuario }}')  AS nombre_usuario,\n    TRIM('{{ $json.body.contraseña }}')      AS contraseña,\n    TRIM('{{ $json.body.email }}')           AS email,\n    TRIM('{{ $json.body.id_rol }}')          AS id_rol\n),\nfaltantes AS (\n  SELECT\n    CONCAT_WS(', ',\n      CASE WHEN nombre_usuario IN ('undefined','') OR nombre_usuario IS NULL THEN 'nombre'     END,\n      CASE WHEN contraseña    IN ('undefined','') OR contraseña    IS NULL THEN 'contraseña' END,\n      CASE WHEN email          IN ('undefined','') OR email          IS NULL THEN 'email'      END,\n      CASE WHEN id_rol         IN ('undefined','') OR id_rol         IS NULL THEN 'rol'     END\n    ) AS lista_faltantes\n  FROM campos\n),\nvalidacion AS (\n  SELECT\n    CASE WHEN lista_faltantes <> '' THEN 400 ELSE 200 END AS code,\n    CASE WHEN lista_faltantes <> ''\n         THEN 'Falta el campo: ' || lista_faltantes\n         ELSE 'Inserción exitosa'\n    END AS message\n  FROM faltantes\n),\ninsertado AS (\n  INSERT INTO usuarios (\n      nombre_usuario,\n      contraseña,\n      email,\n      fecha_registro,\n      fecha_actualizacion,\n      activo,\n      id_rol\n  )\n  SELECT\n      c.nombre_usuario,\n      c.contraseña,\n      c.email,\n      NOW(),\n      NOW(),\n      true,\n      c.id_rol::int\n  FROM campos c\n  CROSS JOIN validacion v\n  WHERE v.code = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,352],"id":"f9fc8957-fa6a-4435-8201-ed8d628fd440","name":"INSERTAR USUARIO","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH validacion AS (\n  SELECT\n    CASE\n      WHEN '{{ $json.body.nombre_estado_entrega }}'          = 'undefined'\n        OR TRIM('{{ $json.body.nombre_rol }}')    = ''\n        OR '{{ $json.body.nombre_estado_entrega }}'          IS NULL\n      THEN 400\n      ELSE 200\n    END AS code,\n    CASE\n      WHEN '{{ $json.body.nombre_estado_entrega }}'          = 'undefined'\n        OR TRIM('{{ $json.body.nombre_estado_entrega }}')    = ''\n        OR '{{ $json.body.nombre_estado_entrega }}'          IS NULL\n      THEN 'Falta el campo nombre de tipo entrega'\n      ELSE 'Inserción exitosa'\n    END AS message\n),\ninsertado AS (\n  INSERT INTO estado_entrega (nombre_estado_entrega, fecha_registro, fecha_actualizacion)\n  SELECT\n    TRIM('{{ $json.body.nombre_estado_entrega }}'),\n    NOW(),\n    NOW()\n  WHERE (SELECT code FROM validacion) = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{"queryReplacement":""}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,688],"id":"0c7a2789-40ed-49f4-b2c0-bdf9f6c8f9d3","name":"INSERTAR-ESTADO-ENTREGA","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH campos AS (\n  SELECT\n    TRIM('{{ $json.body.nombre_tipo_entrega }}')  AS nombre_tipo_entrega\n),\nfaltantes AS (\n  SELECT\n    CONCAT_WS(', ',\n      CASE WHEN nombre_tipo_entrega IN ('undefined','') OR nombre_tipo_entrega IS NULL THEN 'nombre de tipo entrega' END\n    ) AS lista_faltantes\n  FROM campos\n),\nvalidacion AS (\n  SELECT\n    CASE WHEN lista_faltantes <> '' THEN 400 ELSE 200 END AS code,\n    CASE WHEN lista_faltantes <> ''\n         THEN 'Falta el campo: ' || lista_faltantes\n         ELSE 'Inserción exitosa'\n    END AS message\n  FROM faltantes\n),\ninsertado AS (\n  INSERT INTO tipos_entrega (\n      nombre_tipo_entrega,\n      fecha_registro,\n      fecha_actualizacion,\n      activo\n  )\n  SELECT\n      c.nombre_tipo_entrega,\n      NOW(),\n      NOW(),\n      true\n  FROM campos c\n  CROSS JOIN validacion v\n  WHERE v.code = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,832],"id":"d009287c-c3ab-44de-b38f-bc535df747d4","name":"INSERTAR-TIPO-ENTREGA","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ventas (\n    id_cliente,\n    id_usuario_registro,\n    id_tipo_pago,\n    id_tipo_entrega,\n    id_estado_entrega,\n    fecha_entrega_estimada,\n    fecha_entrega_real,\n    observaciones,\n    fecha_registro,\n    fecha_actualizacion,\n    total_general,\n    id_estado_pago,\n    total_pagado,\n    saldo_pendiente\n) VALUES (\n    '{{ $json.body.id_cliente }}'::int,\n    '{{ $json.body.id_usuario_registro }}'::int,\n    '{{ $json.body.id_tipo_pago }}'::int,\n    '{{ $json.body.id_tipo_entrega }}'::int,\n    '{{ $json.body.id_estado_entrega }}'::int,\n    NULLIF(TRIM('{{ $json.body.fecha_entrega_estimada }}'), '')::timestamp,\n    NULLIF(TRIM('{{ $json.body.fecha_entrega_real }}'), '')::timestamp,\n    NULLIF(TRIM('{{ $json.body.observaciones }}'), ''),\n    NOW(),\n    NOW(),\n    '{{ $json.body.total_general }}'::numeric(12,2),\n    '{{ $json.body.id_estado_pago }}'::int,\n    '{{ $json.body.total_pagado }}'::numeric(15,2),\n    '{{ $json.body.saldo_pendiente }}'::numeric(15,2)\n)\nRETURNING id_venta;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,1584],"id":"4ab2dc7d-1ba2-49fc-997e-55293905f66a","name":"INSERTAR-VENTAS","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}},"disabled":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"entregas","mode":"list","cachedResultName":"entregas"},"columns":{"mappingMode":"defineBelow","value":{"id_venta":"={{ $json.body.id_venta }}","direccion_entrega":"={{ $json.body.direccion_entrega }}","nombre_receptor":"={{ $json.body.nombre_receptor }}","telefono_receptor":"={{ $json.body.telefono_receptor }}","costo_delivery":"={{ $json.body.costo_delivery }}","nombre_sucursal":"={{ $json.body.nombre_sucursal }}","fecha_recojo_programada":"={{ $json.body.fecha_recojo_programada }}","observaciones":"={{ $json.body.observaciones }}"},"matchingColumns":[],"schema":[{"id":"id_entrega","displayName":"id_entrega","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_venta","displayName":"id_venta","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"direccion_entrega","displayName":"direccion_entrega","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"nombre_receptor","displayName":"nombre_receptor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"telefono_receptor","displayName":"telefono_receptor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"costo_delivery","displayName":"costo_delivery","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"nombre_sucursal","displayName":"nombre_sucursal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"fecha_recojo_programada","displayName":"fecha_recojo_programada","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"observaciones","displayName":"observaciones","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,1440],"id":"e5b03014-ec63-4958-922d-fe4905264ae5","name":"INSERTA-ENTREGA","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"detalles_venta","mode":"list","cachedResultName":"detalles_venta"},"columns":{"mappingMode":"defineBelow","value":{"id_venta":"={{ $json.body.id_venta }}","id_producto":"={{ $json.body.id_producto }}","id_tamano":"={{ $json.body.cantidad }}","precio_unitario_venta":"={{ $json.body.precio_unitario_venta }}","cantidad":"={{ $json.body.cantidad }}","subtotal":"={{ $json.body.subtotal }}","costo_personalizacion":0,"total_detalle":0},"matchingColumns":[],"schema":[{"id":"id_detalle_venta","displayName":"id_detalle_venta","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"id_venta","displayName":"id_venta","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"id_producto","displayName":"id_producto","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"id_tamano","displayName":"id_tamano","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"cantidad","displayName":"cantidad","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"precio_unitario_venta","displayName":"precio_unitario_venta","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"subtotal","displayName":"subtotal","required":true,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"tipo_personalizacion","displayName":"tipo_personalizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"texto_personalizado","displayName":"texto_personalizado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"imagen_personalizacion_base64","displayName":"imagen_personalizacion_base64","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"comentario_personalizacion","displayName":"comentario_personalizacion","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"costo_personalizacion","displayName":"costo_personalizacion","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"total_detalle","displayName":"total_detalle","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,1312],"id":"b03004f6-e83e-49b6-af15-9c5a1b09b6f7","name":"INSERTAR-DETALLE-VENTA","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH\nventa_insertada AS (\n    INSERT INTO ventas (id_cliente, id_usuario_registro, id_tipo_pago, id_tipo_entrega, id_estado_entrega, total_general, fecha_registro, fecha_actualizacion, fecha_entrega_estimada, fecha_entrega_real, observaciones)\n    VALUES (1, 1, 1, 1, 1, 195.50, '2025-10-29T10:00:00', '2025-10-29T10:00:00', '2025-10-30T18:00:00', NULL, 'Entregar con cuidado y confirmar llegada.')\n    RETURNING id_venta\n),\nentrega_insertada AS (\n    INSERT INTO entregas (id_venta, direccion_entrega, nombre_receptor, telefono_receptor, costo_delivery, nombre_sucursal, fecha_recojo_programada, observaciones)\n    SELECT v.id_venta, 'Calle Ficticia 123, Zona Sur', 'Ana Garcia', '+591 71112233', 15.00, NULL, NULL, 'Llamar al llegar.'\n    FROM venta_insertada v\n    WHERE true\n),\ndetalles_expandidos AS (\n    SELECT\n        v.id_venta,\n        idx,\n        (detalle->>'id_producto')::INTEGER AS id_producto,\n        (detalle->>'id_tamano')::INTEGER AS id_tamano,\n        (detalle->>'cantidad')::NUMERIC AS cantidad,\n        (detalle->>'precio_unitario_venta')::NUMERIC AS precio_unitario_venta,\n        (detalle->>'subtotal')::NUMERIC AS subtotal,\n        detalle->'frase' AS frase_data,\n        detalle->'personalizacion' AS personalizacion_data\n    FROM venta_insertada v, jsonb_array_elements('[\n      {\n        \"id_producto\": 1,\n        \"id_tamano\": 1,\n        \"cantidad\": 1.00,\n        \"precio_unitario_venta\": 150.50,\n        \"subtotal\": 150.50,\n        \"frase\": { \"texto\": \"Feliz Cumple, Ana!\", \"comentario_frase\": \"Letra dorada\", \"costo\": 5.00 },\n        \"personalizacion\": { \"imagen_base64\": \"data:image/png;base64,iVBORw0KGgo...\", \"comentario_personalizacion\": \"Foto de un perro\", \"costo\": 25.00 }\n      }\n    ]'::jsonb) WITH ORDINALITY AS t(detalle, idx)\n),\ndetalles_insertados_raw AS (\n    INSERT INTO detalles_venta (id_venta, id_producto, id_tamano, cantidad, precio_unitario_venta, subtotal)\n    SELECT id_venta, id_producto, id_tamano, cantidad, precio_unitario_venta, subtotal\n    FROM detalles_expandidos\n    RETURNING id_detalle_venta, id_venta, id_producto, id_tamano, cantidad, precio_unitario_venta, subtotal\n),\ndetalles_con_idx AS (\n    SELECT\n        di.id_detalle_venta,\n        de.idx,\n        de.frase_data,\n        de.personalizacion_data\n    FROM detalles_insertados_raw di\n    JOIN detalles_expandidos de ON\n        di.id_venta = de.id_venta AND\n        di.id_producto = de.id_producto AND\n        di.id_tamano = de.id_tamano AND\n        di.cantidad = de.cantidad AND\n        di.precio_unitario_venta = de.precio_unitario_venta AND\n        di.subtotal = de.subtotal\n),\nfrases_insertadas AS (\n    INSERT INTO frases (id_detalle_venta, texto, comentario_frase, costo)\n    SELECT\n        di.id_detalle_venta,\n        di.frase_data->>'texto',\n        di.frase_data->>'comentario_frase',\n        (di.frase_data->>'costo')::NUMERIC\n    FROM detalles_con_idx di\n    WHERE di.frase_data IS NOT NULL AND di.frase_data <> '{}'::jsonb\n),\npersonalizaciones_insertadas AS (\n    INSERT INTO personalizaciones (id_detalle_venta, imagen_base64, comentario_personalizacion, costo)\n    SELECT\n        di.id_detalle_venta,\n        di.personalizacion_data->>'imagen_base64',\n        di.personalizacion_data->>'comentario_personalizacion',\n        (di.personalizacion_data->>'costo')::NUMERIC\n    FROM detalles_con_idx di\n    WHERE di.personalizacion_data IS NOT NULL AND di.personalizacion_data <> '{}'::jsonb\n)\nSELECT id_venta FROM venta_insertada;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-704,1392],"id":"1654acca-9e0b-45de-a018-04bbca9259ff","name":"INSERTAR-VENTA-GFOD","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.accion }}","rightValue":"actualizar_entrega","operator":{"type":"string","operation":"equals"},"id":"7d2a0641-ddd5-4ba0-8812-ef9d370442a3"}],"combinator":"and"},"renameOutput":true,"outputKey":"PUT-VENTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50e7b23d-ef4a-4d4d-ae58-1a9596870ffc","leftValue":"={{ $json.query.accion }}","rightValue":"=tipos_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ES-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba5437f5-4725-4307-9caf-fbc8d01338c8","leftValue":"={{ $json.query.accion }}","rightValue":"roles","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DEL-ROLES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09187cf2-e633-4816-8970-55e5f48eb387","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_pago","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"DEL-T.PAGOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2c2697f-7a61-401f-a676-68eed896d3d4","leftValue":"={{ $json.query.accion }}","rightValue":"tamanos_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-T-PRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b6f098d-97f2-49ef-b6db-7607a7c41896","leftValue":"={{ $json.query.accion }}","rightValue":"usuarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-USUARIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"972a5b42-72cf-4b7b-8c9b-fcaa74f910ab","leftValue":"={{ $json.query.accion }}","rightValue":"proveedores","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PROVEED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4c834c4-0767-48db-998c-30b2bf8626f0","leftValue":"={{ $json.query.accion }}","rightValue":"insumos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-INSUMOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ec4776a-554e-4300-b628-04f852a1b4fd","leftValue":"={{ $json.query.accion }}","rightValue":"estados_compra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-ES-COM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c093f439-69dd-4274-b1fc-97a30a78b0f0","leftValue":"={{ $json.query.accion }}","rightValue":"compras","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-COMPRAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed23ab31-2ad0-4180-bca1-2cd311b3decf","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_compra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-D-COM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6babe589-438c-4ffc-b78c-24761211a934","leftValue":"={{ $json.query.accion }}","rightValue":"subproductos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-SUB-P"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fe9e02c-7359-4a7f-857a-e48e2ba7ccc3","leftValue":"={{ $json.query.accion }}","rightValue":"productos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e928c28c-f956-4162-9a23-7a09bfb64cf0","leftValue":"={{ $json.query.accion }}","rightValue":"recetas_subproducto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-R-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d159aef-50d4-4159-92db-4b2ce1990fdd","leftValue":"={{ $json.query.accion }}","rightValue":"recetas_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"858f5068-71ff-4264-b961-d91008d434d3","leftValue":"={{ $json.query.accion }}","rightValue":"produccion_subproducto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-SPRO-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9aa1cb8f-5ed2-41d2-9f51-e1d2b5ababda","leftValue":"={{ $json.query.accion }}","rightValue":"produccion_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PRO-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e67abcf-d210-4c68-af44-01e7f7c4c3bb","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-EST-E"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8563284-3ed8-4cbd-bab1-374e06ff5007","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-TIP-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f385732-01ec-424d-88e7-def107fe8c75","leftValue":"={{ $json.query.accion }}","rightValue":"clientes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-CLIENTES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"812ed35e-d157-4c03-9d9f-8de4254cc2e9","leftValue":"={{ $json.query.accion }}","rightValue":"ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-VENTAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6d17769-4646-4e9d-b43e-c273ee4b5bed","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-DET-VEN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e4030c8-fdec-41ae-95fe-ac808f8fdd05","leftValue":"={{ $json.query.accion }}","rightValue":"personalizaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PERSON"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f693701c-687f-4da6-8a17-092b8dbb89bf","leftValue":"={{ $json.query.accion }}","rightValue":"frases","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-FRASES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd60289e-c646-471d-bb84-8d1ab15fa859","leftValue":"={{ $json.query.accion }}","rightValue":"entregas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-ENTREGAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b593cde5-3538-4bab-b4b5-bf6ad38b73e2","leftValue":"={{ $json.query.accion }}","rightValue":"finanzas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-FINANZAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f12bd4b-0fb9-4b4a-8732-c69f90d1999c","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_incidencia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-T-INCI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7760bbe6-2f56-4e99-82bf-b52a04c7c7c0","leftValue":"={{ $json.query.accion }}","rightValue":"incidencias","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-INCI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9e1b594-8129-4aa3-bff0-105ab10bb612","leftValue":"={{ $json.query.accion }}","rightValue":"negocio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-NEGOVIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[368,2112],"id":"51ba0c2a-1e89-4be2-95eb-ffaddfbf5bc5","name":"MODULIZADOR2"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ code: $json.code, message: $json.message }) }}","options":{"responseCode":"={{ $json.code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1920,720],"id":"e5f2bc2e-ca8d-4544-ad5e-23af2ceafae6","name":"Respond to Webhook3"},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ code: $json.code, message: $json.message }) }}","options":{"responseCode":"={{ $json.code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1392,2592],"id":"937320ce-a92b-48fe-94e0-9de932f4430c","name":"Respond to Webhook4"},{"parameters":{"operation":"executeQuery","query":"WITH validacion AS (\n  SELECT\n    CASE\n      WHEN '{{ $json.body.nombre_rol }}'          = 'undefined'\n        OR TRIM('{{ $json.body.nombre_rol }}')    = ''\n        OR '{{ $json.body.nombre_rol }}'          IS NULL\n      THEN 400\n      ELSE 200\n    END AS code,\n    CASE\n      WHEN '{{ $json.body.nombre_rol }}'          = 'undefined'\n        OR TRIM('{{ $json.body.nombre_rol }}')    = ''\n        OR '{{ $json.body.nombre_rol }}'          IS NULL\n      THEN 'Falta el campo nombre'\n      ELSE 'Inserción exitosa'\n    END AS message\n),\ninsertado AS (\n  INSERT INTO roles (nombre_rol, fecha_registro, fecha_actualizacion)\n  SELECT\n    TRIM('{{ $json.body.nombre_rol }}'),\n    NOW(),\n    NOW()\n  WHERE (SELECT code FROM validacion) = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,-80],"id":"2357f18b-0e51-4144-aae5-5a4f244e96ef","name":"INSERTAR-ROL","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM clientes\n  WHERE id_cliente = COALESCE( (NULLIF('{{ $json.query.id_cliente }}',''))::int, 0 )\n  RETURNING id_cliente\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Borrado exitoso'\n       ELSE 'Error registro inexistente'\n  END AS message;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2016],"id":"e7920a2a-6a4d-4a2a-ba1c-1a341fc7ce28","name":"DEL-CLIENTES","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_pago\n  WHERE id_tipo_pago = COALESCE( (NULLIF('{{ $json.query.id_tipo_pago }}',''))::int, 0 )\n  RETURNING id_tipo_pago\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,1888],"id":"f7548d73-2543-475f-bed6-5748e794c571","name":"DEL-T.PAGOS","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM usuarios\n  WHERE id_usuario = COALESCE( (NULLIF('{{ $json.query.id_usuario }}',''))::int, 0 )\n  RETURNING id_usuario\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Borrado exitoso'\n       ELSE 'Error registro inexistente'\n  END AS message;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2144],"id":"1de0fcf3-6d36-42d0-936e-8ad0a07e821f","name":"DEL-USUARIOS","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM roles\n  WHERE id_roles = COALESCE( (NULLIF('{{ $json.query.id_rol }}',''))::int, 0 )\n  RETURNING id_rol\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,1760],"id":"d16ff9d5-37f8-41ef-93a2-bc2d307512d2","name":"DEL-ROL","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH campos AS (\n  SELECT\n    TRIM('{{ $json.body.nombre_empresa }}')  AS nombre_empresa,\n    TRIM('{{ $json.body.direccion }}')       AS direccion,\n    TRIM('{{ $json.body.ciudad }}')          AS ciudad,\n    TRIM('{{ $json.body.telefono }}')        AS telefono,\n    TRIM('{{ $json.body.email }}')           AS email,\n    TRIM('{{ $json.body.contacto }}')        AS contacto\n),\nfaltantes AS (\n  SELECT\n    CONCAT_WS(', ',\n      CASE WHEN nombre_empresa IN ('undefined','') OR nombre_empresa IS NULL THEN 'nombre_empresa' END,\n      CASE WHEN direccion      IN ('undefined','') OR direccion      IS NULL THEN 'direccion'      END,\n      CASE WHEN ciudad         IN ('undefined','') OR ciudad         IS NULL THEN 'ciudad'         END,\n      CASE WHEN telefono       IN ('undefined','') OR telefono       IS NULL THEN 'telefono'       END,\n      CASE WHEN email          IN ('undefined','') OR email          IS NULL THEN 'email'          END,\n      CASE WHEN contacto       IN ('undefined','') OR contacto       IS NULL THEN 'contacto'       END\n    ) AS lista_faltantes\n  FROM campos\n),\nvalidacion AS (\n  SELECT\n    CASE WHEN lista_faltantes <> '' THEN 400 ELSE 200 END AS code,\n    CASE WHEN lista_faltantes <> ''\n         THEN 'Falta el campo: ' || lista_faltantes\n         ELSE 'Inserción exitosa'\n    END AS message\n  FROM faltantes\n),\ninsertado AS (\n  INSERT INTO proveedores (\n      nombre_empresa,\n      direccion,\n      ciudad,\n      telefono,\n      email,\n      contacto,\n      fecha_registro,\n      fecha_actualizacion,\n      activo\n  )\n  SELECT\n      c.nombre_empresa,\n      c.direccion,\n      c.ciudad,\n      c.telefono,\n      c.email,\n      c.contacto,\n      NOW(),\n      NOW(),\n      true\n  FROM campos c\n  CROSS JOIN validacion v\n  WHERE v.code = 200\n  RETURNING *\n)\nSELECT\n  (SELECT code FROM validacion)        AS code,\n  (SELECT message FROM validacion)     AS message,\n  COALESCE(\n    (SELECT to_jsonb(insertado.*) FROM insertado),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1376,512],"id":"970591be-c06c-419a-a5b6-1814e5769331","name":"INSERTAR PROVEEDORES","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM PROVEEDORES\n  WHERE id_proveedor = COALESCE( (NULLIF('{{ $json.query.id_proveedor }}',''))::int, 0 )\n  RETURNING id_proveedor\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Borrado exitoso'\n       ELSE 'Error registro inexistente'\n  END AS message;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2272],"id":"48e01146-4dbc-480d-8b1a-c4e8cb0f75cd","name":"DEL-PROVEEDORES","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM estado_entrega\n  WHERE id_estado_entrega = COALESCE( (NULLIF('{{ $json.query.id_estado_entrega }}',''))::int, 0 )\n  RETURNING id_estado_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2400],"id":"718e9166-8eee-4780-b67f-ce31561c1c9a","name":"DEL-ESTADO-ENTREGA","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2528],"id":"a70877b5-03ba-40bf-a590-95cebad6536e","name":"DEL-TIPO-ENTREGA","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.accion }}","rightValue":"roles","operator":{"type":"string","operation":"equals"},"id":"64addf66-11b6-4842-aabe-478d9bb11e8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-ROL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5a56886-5293-477f-86ef-8bb6c864d392","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_pago","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-TIP-PAGO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2f312d6-f888-44ea-a7e8-f5fc6d3d2672","leftValue":"={{ $json.query.accion }}","rightValue":"clientes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-CLI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9000ea34-4d50-4f03-b206-709fe4df0ef8","leftValue":"={{ $json.query.accion }}","rightValue":"usuarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-USER"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fb492ae1-9dd0-46c4-9f23-c97813c2aa1a","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-E-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a8580661-dccb-48cd-a99d-3adb957576ee","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-TP-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ead91eaf-538d-4a19-8c84-eaafb882b2c6","leftValue":"={{ $json.query.accion }}","rightValue":"ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-VENTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cb7ddd20-830d-4e57-af0e-93cd3d61f847","leftValue":"={{ $json.query.accion }}","rightValue":"entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-ENTRE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b631803-26bf-44a1-91bf-7e4f2d887a10","leftValue":"={{ $json.query.accion }}","rightValue":"tamano_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-TAMA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9878313a-a969-45f0-98f3-5faf943a0714","leftValue":"={{ $json.body.accion }}","rightValue":"producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5661bea2-2760-4e76-af06-2a05e1a12852","leftValue":"={{ $json.query.accion }}","rightValue":"negocio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-NEGO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ff4ae6fa-36f3-473a-950c-90282645b3ba","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-DETA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2e5d59b1-d104-4ebf-90d6-e86efc39b52e","leftValue":"={{ $json.query.accion }}","rightValue":"frase","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-FRASE"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"11dec13c-b889-4ce6-a51a-e1e0dd02ee17","leftValue":"={{ $json.query.accion }}","rightValue":"personalizacion","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"IN-PERS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"849363ea-a50c-4547-873f-c7b691db318d","leftValue":"={{ $json.query.accion }}","rightValue":"proveedores","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PROVRES"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[672,-400],"id":"2a7fdbdf-d456-4e75-b3ff-f7ec53abb98a","name":"Switch1"},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2944],"id":"b2f77cba-134a-46a7-89a9-64360cb33409","name":"DEL-TIPO-ENTREGA2","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,3072],"id":"f7d4380f-7d7e-4ad4-a610-a1e0ceea3895","name":"DEL-TIPO-ENTREGA3","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,3200],"id":"6971ae22-4b15-48af-8887-31562a3ddb13","name":"DEL-TIPO-ENTREGA4","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,3328],"id":"a58a0dcd-905a-4afb-b6b0-967b9f9492b0","name":"DEL-TIPO-ENTREGA5","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,3456],"id":"fe000241-9beb-40c6-aa0d-af2552e432e6","name":"DEL-TIPO-ENTREGA6","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"WITH del AS (\n  DELETE FROM tipos_entrega\n  WHERE id_tipo_entrega = COALESCE( (NULLIF('{{ $json.query.id_tipo_entrega }}',''))::int, 0 )\n  RETURNING id_tipo_entrega\n)\nSELECT\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 200\n       ELSE 404\n  END AS code,\n  CASE WHEN EXISTS (SELECT 1 FROM del) THEN 'Eliminación exitosa'\n       ELSE 'Error registro inexistente'\n  END AS message,\n  COALESCE(\n    (SELECT to_jsonb(del) FROM del LIMIT 1),\n    '{}'::jsonb\n  ) AS data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[912,2816],"id":"95800a20-c5ca-49a9-b4ff-b213192d8eb2","name":"DEL-NEGOCIO","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}}],"connections":{"Webhook":{"main":[[],[{"node":"Switch","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}],[{"node":"MODULIZADOR2","type":"main","index":0}]]},"INSERTA-TIPO-PAGO":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Switch":{"main":[[{"node":"INSERTAR-ROL","type":"main","index":0}],[{"node":"INSERTA-TIPO-PAGO","type":"main","index":0}],[{"node":"INSERTAR CLIENTE","type":"main","index":0}],[{"node":"INSERTAR USUARIO","type":"main","index":0}],[{"node":"INSERTAR-ESTADO-ENTREGA","type":"main","index":0}],[{"node":"INSERTAR-TIPO-ENTREGA","type":"main","index":0}],[{"node":"INSERTAR-VENTAS","type":"main","index":0}],[{"node":"INSERTA-ENTREGA","type":"main","index":0}],[],[],[],[{"node":"INSERTAR-DETALLE-VENTA","type":"main","index":0}],[],[],[{"node":"INSERTAR PROVEEDORES","type":"main","index":0}]]},"INSERTAR CLIENTE":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"INSERTAR USUARIO":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"INSERTAR-ESTADO-ENTREGA":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"INSERTAR-TIPO-ENTREGA":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"INSERTAR-VENTAS":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"INSERTA-ENTREGA":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"INSERTAR-DETALLE-VENTA":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"MODULIZADOR2":{"main":[[],[{"node":"DEL-TIPO-ENTREGA","type":"main","index":0}],[{"node":"DEL-ROL","type":"main","index":0}],[{"node":"DEL-T.PAGOS","type":"main","index":0}],[],[{"node":"DEL-USUARIOS","type":"main","index":0}],[{"node":"DEL-PROVEEDORES","type":"main","index":0}],[],[],[],[],[],[],[],[{"node":"DEL-TIPO-ENTREGA3","type":"main","index":0}],[],[{"node":"DEL-TIPO-ENTREGA2","type":"main","index":0}],[{"node":"DEL-ESTADO-ENTREGA","type":"main","index":0}],[],[{"node":"DEL-CLIENTES","type":"main","index":0}],[],[],[],[],[],[],[],[],[{"node":"DEL-NEGOCIO","type":"main","index":0}]]},"INSERTAR-ROL":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"DEL-CLIENTES":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"DEL-T.PAGOS":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"DEL-USUARIOS":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"DEL-ROL":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"INSERTAR PROVEEDORES":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"DEL-PROVEEDORES":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"DEL-ESTADO-ENTREGA":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]},"DEL-TIPO-ENTREGA":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Webhook":[{"json":{}}]},"versionId":"50871032-4ba2-4940-8987-166b42b65d56","triggerCount":0,"shared":[{"updatedAt":"2025-10-28T13:17:35.400Z","createdAt":"2025-10-28T13:17:35.400Z","role":"workflow:owner","workflowId":"DWoaVxtH8aJYoH1v","projectId":"WrvsXos5XEQZNctn"}],"tags":[],"fileName":"\"=Carolina_Aranibar/c.a.post&delete_nof-DWoaVxtH8aJYoH1v.json\""}