c.a.bckup_simplier-qZ0Jd0CnKgFhv8SR.json

{"updatedAt":"2025-10-30T15:25:30.000Z","createdAt":"2025-10-28T14:15:28.791Z","id":"qZ0Jd0CnKgFhv8SR","name":"C.A.BCKUP_simplier","active":false,"isArchived":false,"nodes":[{"parameters":{"filters":{},"requestOptions":{}},"id":"6b86207a-9978-4a82-bba4-4997bfa8789d","name":"Captura de Workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1952,656],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"Vm9hrpp9EAkC4rzG","name":"lina_n8n_credential"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2512,656],"id":"d754138a-db38-435a-b9b3-704bded482dc","name":"Loop Over Items"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"c9aa3c8c-bd04-4e49-ac8d-252e68f8f62b","name":"Uploader de Archivos","type":"n8n-nodes-base.github","typeVersion":1,"position":[3008,880],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"3yLUEtmACY1nHcUz","name":"OtherBrainGit"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"otherbraintech","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"n8n_BackUp_Pasantes","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1328,656],"id":"cf167a1b-c653-4413-bb74-a3f760c4f475","name":"Establecer campos"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1552,656],"id":"ee04c917-28c1-4c39-8f6b-c37b8244bd3b","name":"Listar archivos","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"5ypNHmn86aweaZT4","name":"lina_token"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.folderName + '/' + $json.name.replace(/\\s+/g, '-').toLowerCase() + '-' + $json.id + '.json' }}\n"}},"id":"6e780554-9b02-4641-8fe9-483efa0f677e","name":"Convertir a binario","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[2320,656]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos'].json.name }}","operation":"contains","value2":"={{ $('Loop Over Items').item.binary.data.fileName }}"}]}},"id":"ca9bae6e-ee7f-4b0c-b34a-e3462187584a","name":"Si existe","type":"n8n-nodes-base.if","typeVersion":1,"position":[2784,544]},{"parameters":{"content":"## 🛡️ Workflow de Respaldo Automático de Workflows en N8N\n\nEste workflow se ejecuta **diariamente a las 12:00 a.m.** y respalda todos los workflows de N8N en un repositorio de GitHub.\n\n---\n\n### ⚙️ Configuración Inicial\n\n* **Repository Owner**: tu usuario de GitHub\n* **Repository Name**: nombre del repositorio\n* **Commit Date**: fecha y hora actual (`DD-MM-YYYY/HH:SS`)\n\n---\n\n### 🔐 Autenticación\n\n**GitHub:**\n\n1. Crea un repositorio en GitHub.\n2. Ve a `Settings > Developer Settings > Tokens (classic)`.\n3. Genera un token con permisos (`write-packages`).\n4. Usa el token en las credenciales de GitHub en N8N.\n\n**N8N:**\n\n1. Ve a `Settings > API` en tu instancia.\n2. Genera un token.\n3. Usa como Base URL:\n\n   ```\n   https://TU_INSTANCIA.com/api/v1\n   ```\n---\n\n### 🔄 Flujo del Proceso\n\n1. Se listan los archivos actuales del repositorio (GitHub).\n2. Se obtienen todos los workflows desde N8N (JSON).\n3. Se convierten a binario.\n4. En un loop:\n\n   * Si el archivo existe → se actualiza.\n   * Si no existe → se sube como nuevo.\n\n---\n\n### ✅ Resultado\n\nTodos los workflows quedan respaldados en GitHub con un commit que incluye la fecha y hora.\n\n\n\n","height":1168,"width":928,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"0c0da0a8-d1cd-4967-bb95-fa339e4fc852","name":"Sticky Note1"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1760,656],"id":"1357cd24-12db-446e-ad50-6fc5c225804f","name":"Combinar archivos"},{"parameters":{"chatId":"=-5025421715","text":"Nuevo proyecto","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[3360,384],"id":"7181b3b6-1715-4153-81ca-68e95d8c41c4","name":"Msje_nuevo","webhookId":"1b11f945-8459-404b-8212-f5d61580beed","credentials":{"telegramApi":{"id":"Y2Y3ArkzvoQpRAE9","name":"n8n_BckUp_bot"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1104,656],"id":"addd2c47-5a31-4da7-b704-5258042045f5","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://intelexia-labs-n8npasantia.af9gwe.easypanel.host/api/v1/projects","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"},{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhMjVmNmEyNy0yM2I5LTQ0OWItODQyYi1mY2M3NTYzNmI5M2MiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzYxNjYzNzY2fQ.dNseyJOs_iJux1F_Sme4v33A5KV5PGQ3PJinIpsNWPg"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3488,-64],"id":"9408cac5-7ead-48dc-8e06-e3fdc73ec8eb","name":"HTTP Request"},{"parameters":{"jsCode":"// Obtenemos todos los workflows desde el nodo \"Captura de Workflows\"\nconst workflows = $items(\"Captura de Workflows\");\n\n// Crear un mapa agrupado por carpetas\nconst carpetas = {};\n\nfor (const item of workflows) {\n  const data = item.json;\n  const nombreWorkflow = data.name || \"Sin nombre\";\n  const carpeta = data.meta?.folderName || \"Sin carpeta\";\n\n  if (!carpetas[carpeta]) {\n    carpetas[carpeta] = [];\n  }\n\n  carpetas[carpeta].push(nombreWorkflow);\n}\n\n// Generar texto formateado\nlet texto = \"✔️ Respaldo diario finalizado\\n\\n\";\n\n// Agregar carpetas y workflows dentro de cada una\nfor (const [carpeta, lista] of Object.entries(carpetas)) {\n  texto += `📁 ${carpeta}\\n`;\n  for (const wf of lista) {\n    texto += `  📄 ${wf}\\n`;\n  }\n}\n\n// Totales\nconst totalWorkflows = workflows.length;\nconst totalCarpetas = Object.keys(carpetas).length;\n\n// Obtener datos adicionales desde \"Establecer campos\"\nconst fecha = $node[\"Establecer campos\"]?.item?.json?.commitDate || new Date().toISOString();\n\n// Agregar pie del mensaje\ntexto += `\\n📊 Total: ${totalWorkflows} workflows\\n`;\ntexto += `📁 Carpetas: ${totalCarpetas}\\n`;\ntexto += `🗓 Fecha: ${fecha}\\n`;\n\nreturn [{ json: { mensaje: texto } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,176],"id":"f43aa77e-c285-46a1-b476-ea8cfad6eee0","name":"Resumen de Backups1"},{"parameters":{"filters":{},"requestOptions":{}},"id":"92a4bc6a-ceb8-4c18-91ca-a3e4b226924b","name":"Captura de Workflows1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1072,-608],"alwaysOutputData":false,"credentials":{"n8nApi":{"id":"Vm9hrpp9EAkC4rzG","name":"lina_n8n_credential"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1696,-608],"id":"e0fdb19c-65c8-4929-9846-9837e7496908","name":"Loop Over Items1"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"5c80c6ae-025d-46df-91ca-818afeef2753","name":"Actualizador de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2176,-592],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"5ypNHmn86aweaZT4","name":"lina_token"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos1').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos1').item.json.commitDate }}"},"id":"ee065c82-a15f-4952-9b82-311c5d5edc1d","name":"Uploader de Archivos1","type":"n8n-nodes-base.github","typeVersion":1,"position":[2192,-384],"webhookId":"3ba252a0-adac-44b6-9376-d870f52e28bd","credentials":{"githubApi":{"id":"5ypNHmn86aweaZT4","name":"lina_token"}}},{"parameters":{"assignments":{"assignments":[{"id":"a1d52ea6-5912-4988-94c2-115ad59c1996","name":"Repository Owner","value":"C4le0","type":"string"},{"id":"1c15b2e1-bf09-4643-8bba-3215119d2d6b","name":"Repository Name","value":"posnomas","type":"string"},{"id":"712f49ff-8f02-4ac3-aee8-11db8ebe5843","name":"commitDate","value":"={{ (() => {\n  const now = new Date();\n  const day = String(now.getDate()).padStart(2, '0');\n  const month = String(now.getMonth() + 1).padStart(2, '0');\n  const year = now.getFullYear();\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  return `${day}-${month}-${year}/${hours}:${minutes}`;\n})() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-608],"id":"1594dd79-4b4d-406d-8024-324169828e58","name":"Establecer campos1"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[672,-608],"id":"403ad55c-b550-45f9-a89c-a796005df085","name":"Listar archivos1","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"5ypNHmn86aweaZT4","name":"lina_token"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.folderName + '/' + $json.name.replace(/\\s+/g, '-').toLowerCase() + '-' + $json.id + '.json' }}\n"}},"id":"709f80e2-2fd8-4ea3-9689-acd69687823c","name":"Convertir a binario1","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1488,-608]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combinar archivos1'].json.name }}","operation":"contains","value2":"={{ $('Loop Over Items1').item.binary.data.fileName }}"}]}},"id":"aeac3722-5b5a-49c2-8ee2-9de6a79b3fcb","name":"Si existe1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1968,-720]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,-608],"id":"969ce9f7-88a6-4bb3-be7a-61df7273d8cc","name":"Combinar archivos1"},{"parameters":{"chatId":"=-5025421715\"","text":"={{ $json[\"mensaje\"] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1472,-400],"id":"80998acd-5def-4283-a2f0-a69dbe03b06c","name":"Msje_actualizacion1","webhookId":"1b11f945-8459-404b-8212-f5d61580beed","credentials":{"telegramApi":{"id":"Y2Y3ArkzvoQpRAE9","name":"n8n_BckUp_bot"}}},{"parameters":{"jsCode":"// 1) Mapea siglas → nombre legible\nconst folderMap = {\n  'D.R.': 'Demetrio Rojas',\n  'C.A.': 'Carolina Aranibar',\n  'M.A.': 'Miguel Ayma'\n};\n\n// 2) Obtenemos todos los workflows desde el nodo \"Captura de Workflows\"\nconst workflows = $items(\"Captura de Workflows1\");\n\n// 3) Crear un mapa agrupado por carpetas (inferidas por siglas)\nconst carpetas = {};\n\nfor (const item of workflows) {\n  const fullName = item.json.name || \"Sin nombre\";\n  \n  // Detecta siglas al inicio (ej. D.R., C.A., M.A.)\n  const siglas = fullName.match(/^([A-Z]\\.[A-Z]+\\.)/)?.[0] || 'OTR.';\n  const carpeta = folderMap[siglas] || 'Otro';\n  const nombreCorto = fullName.replace(siglas, '');\n\n  if (!carpetas[carpeta]) {\n    carpetas[carpeta] = [];\n  }\n  carpetas[carpeta].push(nombreCorto);\n}\n\n// 4) Generar texto formateado con emojis\nlet texto = \"✔️ Respaldo diario finalizado\\n\\n\";\n\nfor (const [carpeta, lista] of Object.entries(carpetas)) {\n  texto += `📁 ${carpeta}\\n`;\n  for (const wf of lista) {\n    texto += `  📄 ${wf}\\n`;\n  }\n}\n\n// 5) Totales y fecha\nconst totalWorkflows = workflows.length;\nconst totalCarpetas = Object.keys(carpetas).length;\nconst fecha = $node[\"Establecer campos1\"]?.item?.json?.commitDate || new Date().toISOString();\n\ntexto += `\\n📊 Total: ${totalWorkflows} workflows\\n`;\ntexto += `📁 Carpetas: ${totalCarpetas}\\n`;\ntexto += `🗓 Fecha: ${fecha}`;\n\nreturn [{ json: { mensaje: texto.trim() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1280,-400],"id":"43306154-1e1e-42a9-a4c1-da98d23003c5","name":"Resumen de Backups2","disabled":true},{"parameters":{"jsCode":"// Mapea siglas a nombres de carpetas\nconst folderMap = {\n  'D.R.': 'Demetrio Rojas',\n  'C.A.': 'Carolina Aranibar',\n  'M.A.': 'Miguel Ayma'\n};\n\nreturn $input.all().map(item => {\n  const fullName = item.json.name || \"Sin nombre\";\n  const siglas = fullName.match(/^([A-Z]\\.[A-Z]+)\\./)?.[0] || 'OTR.';\n  const folder = folderMap[siglas] || 'Otro';\n\n  // Agregamos carpeta al JSON del workflow\n  return {\n    json: {\n      ...item.json,\n      folderName: folder\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1296,-752],"id":"af6f3d06-a775-44cb-b318-48ca9c8b2c40","name":"Code in JavaScript1"},{"parameters":{"chatId":"=-5025421715\"","text":"={{ $json[\"mensaje\"] }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2320,880],"id":"b73ffe16-fe3a-4ff7-be6e-76cd841fabda","name":"Msje_actualizacion","webhookId":"1b11f945-8459-404b-8212-f5d61580beed","credentials":{"telegramApi":{"id":"Y2Y3ArkzvoQpRAE9","name":"n8n_BckUp_bot"}}},{"parameters":{"jsCode":"// 1) Mapea siglas → nombre legible\nconst folderMap = {\n  'D.R.': 'Demetrio Rojas',\n  'C.A.': 'Carolina Aranibar',\n  'M.A.': 'Miguel Ayma'\n};\n\n// 2) Obtenemos todos los workflows desde el nodo \"Captura de Workflows\"\nconst workflows = $items(\"Captura de Workflows\");\n\n// 3) Crear un mapa agrupado por carpetas (inferidas por siglas)\nconst carpetas = {};\n\nfor (const item of workflows) {\n  const fullName = item.json.name || \"Sin nombre\";\n  \n  // Detecta siglas al inicio (ej. D.R., C.A., M.A.)\n  const siglas = fullName.match(/^([A-Z]\\.[A-Z]+\\.)/)?.[0] || 'OTR.';\n  const carpeta = folderMap[siglas] || 'Otro';\n  const nombreCorto = fullName.replace(siglas, '');\n\n  if (!carpetas[carpeta]) {\n    carpetas[carpeta] = [];\n  }\n  carpetas[carpeta].push(nombreCorto);\n}\n\n// 4) Generar texto formateado con emojis\nlet texto = \"✔️ Respaldo diario finalizado\\n\\n\";\n\nfor (const [carpeta, lista] of Object.entries(carpetas)) {\n  texto += `📁 ${carpeta}\\n`;\n  for (const wf of lista) {\n    texto += `  📄 ${wf}\\n`;\n  }\n}\n\n// 5) Totales y fecha\nconst totalWorkflows = workflows.length;\nconst totalCarpetas = Object.keys(carpetas).length;\nconst fecha = $node[\"Establecer campos1\"]?.item?.json?.commitDate || new Date().toISOString();\n\ntexto += `\\n📊 Total: ${totalWorkflows} workflows\\n`;\ntexto += `📁 Carpetas: ${totalCarpetas}\\n`;\ntexto += `🗓 Fecha: ${fecha}`;\n\nreturn [{ json: { mensaje: texto.trim() } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2096,928],"id":"e7904f00-f439-4989-8043-b95a5140e0f3","name":"Resumen de Backups"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Owner'] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Establecer campos').item.json['Repository Name'] }}","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"={{ $('Establecer campos').item.json.commitDate }}"},"id":"d6315d6f-aad0-4ef1-9c92-fe16fadcb825","name":"Actualizador de Archivos2","type":"n8n-nodes-base.github","typeVersion":1,"position":[3008,656],"webhookId":"ad758c2a-4f50-4db1-a3f3-a422c67ac0a2","credentials":{"githubApi":{"id":"3yLUEtmACY1nHcUz","name":"OtherBrainGit"}}},{"parameters":{"assignments":{"assignments":[{"id":"e0311635-47c5-4750-a926-6477ea406b4b","name":"fileName","value":"=\"={{ {'D.R.':'Demetrio_Rojas','C.A.':'Carolina_Aranibar','M.A.':'Miguel_Ayma'}[$json.name.match(/^([A-Z]\\.[A-Z]+\\.)/)?.[0]] || 'Otro' }}/{{ $json.name.replace(/\\\\s+/g,'-').toLowerCase() }}-{{ $json.id }}.json\"","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2128,528],"id":"ec3d3f86-f883-4492-803b-3f233e97b849","name":"Edit Fields"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json[\"Repository Owner\"] }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json['Repository Name'] }}","mode":"name"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1504,960],"id":"3e9b00ce-af68-4e66-a797-9e043c645d60","name":"Listar archivos2","webhookId":"05c29369-ddf5-4cea-ad82-2360b9460243","alwaysOutputData":true,"credentials":{"githubApi":{"id":"3yLUEtmACY1nHcUz","name":"OtherBrainGit"}},"onError":"continueRegularOutput"}],"connections":{"Captura de Workflows":{"main":[[{"node":"Resumen de Backups","type":"main","index":0},{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Si existe","type":"main","index":0}]]},"Uploader de Archivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Establecer campos":{"main":[[{"node":"Listar archivos","type":"main","index":0}]]},"Listar archivos":{"main":[[{"node":"Combinar archivos","type":"main","index":0}]]},"Convertir a binario":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Si existe":{"main":[[{"node":"Actualizador de Archivos2","type":"main","index":0}],[{"node":"Uploader de Archivos","type":"main","index":0}]]},"Combinar archivos":{"main":[[{"node":"Captura de Workflows","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Establecer campos","type":"main","index":0}]]},"Msje_nuevo":{"main":[[]]},"Captura de Workflows1":{"main":[[{"node":"Resumen de Backups2","type":"main","index":0},{"node":"Code in JavaScript1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Si existe1","type":"main","index":0}]]},"Actualizador de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Uploader de Archivos1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Establecer campos1":{"main":[[{"node":"Listar archivos1","type":"main","index":0}]]},"Listar archivos1":{"main":[[{"node":"Combinar archivos1","type":"main","index":0}]]},"Convertir a binario1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Si existe1":{"main":[[{"node":"Actualizador de Archivos1","type":"main","index":0}],[{"node":"Uploader de Archivos1","type":"main","index":0}]]},"Combinar archivos1":{"main":[[{"node":"Captura de Workflows1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Convertir a binario1","type":"main","index":0}]]},"Resumen de Backups":{"main":[[]]},"Actualizador de Archivos2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convertir a binario","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"385e5a9e-b433-427f-aa68-d8b3e8732efd","triggerCount":0,"shared":[{"updatedAt":"2025-10-28T14:15:28.812Z","createdAt":"2025-10-28T14:15:28.812Z","role":"workflow:owner","workflowId":"qZ0Jd0CnKgFhv8SR","projectId":"WrvsXos5XEQZNctn"}],"tags":[],"fileName":"\"=Carolina_Aranibar/c.a.bckup_simplier-qZ0Jd0CnKgFhv8SR.json\""}