m.a.get_posttortaexpress-luitRrLpbgPj17Bw.json

{"updatedAt":"2025-10-30T15:07:23.000Z","createdAt":"2025-10-24T18:22:12.575Z","id":"luitRrLpbgPj17Bw","name":"M.A.get_postTortaExpress","active":true,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["GET","POST","PUT","DELETE"],"path":"server","authentication":"basicAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-272,1168],"id":"9bca1eea-a70e-4485-811a-671c6079027d","name":"Webhook","webhookId":"2d46d308-a878-4796-aa64-8bdc36de1dbd","alwaysOutputData":true,"credentials":{"httpBasicAuth":{"id":"PG9Xy8DW8uKfrG7C","name":"Unnamed credential"}},"onError":"continueErrorOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.accion }}","rightValue":"venta","operator":{"type":"string","operation":"equals"},"id":"7d2a0641-ddd5-4ba0-8812-ef9d370442a3"}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-VENTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50e7b23d-ef4a-4d4d-ae58-1a9596870ffc","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-ES-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba5437f5-4725-4307-9caf-fbc8d01338c8","leftValue":"={{ $json.query.accion }}","rightValue":"roles","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-ROLES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09187cf2-e633-4816-8970-55e5f48eb387","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_pago","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PAGOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2c2697f-7a61-401f-a676-68eed896d3d4","leftValue":"={{ $json.query.accion }}","rightValue":"tamanos_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-T-PRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b6f098d-97f2-49ef-b6db-7607a7c41896","leftValue":"={{ $json.query.accion }}","rightValue":"usuarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-USUARIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"972a5b42-72cf-4b7b-8c9b-fcaa74f910ab","leftValue":"={{ $json.query.accion }}","rightValue":"proveedores","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PROVEED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4c834c4-0767-48db-998c-30b2bf8626f0","leftValue":"={{ $json.query.accion }}","rightValue":"insumos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-INSUMOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ec4776a-554e-4300-b628-04f852a1b4fd","leftValue":"={{ $json.query.accion }}","rightValue":"estados_compra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-ES-COM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c093f439-69dd-4274-b1fc-97a30a78b0f0","leftValue":"={{ $json.query.accion }}","rightValue":"compras","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-COMPRAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed23ab31-2ad0-4180-bca1-2cd311b3decf","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_compra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-D-COM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6babe589-438c-4ffc-b78c-24761211a934","leftValue":"={{ $json.query.accion }}","rightValue":"subproductos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-SUB-P"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fe9e02c-7359-4a7f-857a-e48e2ba7ccc3","leftValue":"={{ $json.query.accion }}","rightValue":"productos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e928c28c-f956-4162-9a23-7a09bfb64cf0","leftValue":"={{ $json.query.accion }}","rightValue":"recetas_subproducto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-R-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d159aef-50d4-4159-92db-4b2ce1990fdd","leftValue":"={{ $json.query.accion }}","rightValue":"recetas_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-R-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"858f5068-71ff-4264-b961-d91008d434d3","leftValue":"={{ $json.query.accion }}","rightValue":"produccion_subproducto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-SPRO-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9aa1cb8f-5ed2-41d2-9f51-e1d2b5ababda","leftValue":"={{ $json.query.accion }}","rightValue":"produccion_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PRO-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e67abcf-d210-4c68-af44-01e7f7c4c3bb","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-EST-E"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8563284-3ed8-4cbd-bab1-374e06ff5007","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-TIP-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f385732-01ec-424d-88e7-def107fe8c75","leftValue":"={{ $json.query.accion }}","rightValue":"clientes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-CLIENTES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"812ed35e-d157-4c03-9d9f-8de4254cc2e9","leftValue":"={{ $json.query.accion }}","rightValue":"ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-VENTAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6d17769-4646-4e9d-b43e-c273ee4b5bed","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-DET-VEN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e4030c8-fdec-41ae-95fe-ac808f8fdd05","leftValue":"={{ $json.query.accion }}","rightValue":"personalizaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-PERSON"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f693701c-687f-4da6-8a17-092b8dbb89bf","leftValue":"={{ $json.query.accion }}","rightValue":"frases","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-FRASES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd60289e-c646-471d-bb84-8d1ab15fa859","leftValue":"={{ $json.query.accion }}","rightValue":"entregas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-ENTREGAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b593cde5-3538-4bab-b4b5-bf6ad38b73e2","leftValue":"={{ $json.query.accion }}","rightValue":"finanzas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-FINANZAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f12bd4b-0fb9-4b4a-8732-c69f90d1999c","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_incidencia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-T-INCI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7760bbe6-2f56-4e99-82bf-b52a04c7c7c0","leftValue":"={{ $json.query.accion }}","rightValue":"incidencias","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-INCI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9e1b594-8129-4aa3-bff0-105ab10bb612","leftValue":"={{ $json.query.accion }}","rightValue":"negocio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"GET-NEGOCIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[32,-288],"id":"ef9a0270-ed0d-432e-88bd-a768053e7fa0","name":"MODULIZADOR"},{"parameters":{"operation":"executeQuery","query":"SELECT get_productos(\n  {{ $json.query.producto_id ? $json.query.producto_id : null }},\n  {{ $json.query.limit ? $json.query.limit : null }},\n  {{ $json.query.offset ? $json.query.offset : null }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,1488],"id":"e9142d31-e8a1-454d-bbdc-ef4e241e61b3","name":"select_product_by_id4","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,1488],"id":"d52c7fc1-88df-4710-b60d-b477cd813c21","name":"whk_rsp_get_venta5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.query.accion }}","rightValue":"venta","operator":{"type":"string","operation":"equals"},"id":"7d2a0641-ddd5-4ba0-8812-ef9d370442a3"}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-VENTA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50e7b23d-ef4a-4d4d-ae58-1a9596870ffc","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-ES-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ba5437f5-4725-4307-9caf-fbc8d01338c8","leftValue":"={{ $json.query.accion }}","rightValue":"roles","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-ROLES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"09187cf2-e633-4816-8970-55e5f48eb387","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_pago","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-PAGOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e2c2697f-7a61-401f-a676-68eed896d3d4","leftValue":"={{ $json.query.accion }}","rightValue":"tamanos_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-T-PRO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b6f098d-97f2-49ef-b6db-7607a7c41896","leftValue":"={{ $json.query.accion }}","rightValue":"usuarios","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-USUARIO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"972a5b42-72cf-4b7b-8c9b-fcaa74f910ab","leftValue":"={{ $json.query.accion }}","rightValue":"proveedores","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-PROVEED"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e4c834c4-0767-48db-998c-30b2bf8626f0","leftValue":"={{ $json.query.accion }}","rightValue":"insumos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-INSUMOS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2ec4776a-554e-4300-b628-04f852a1b4fd","leftValue":"={{ $json.query.accion }}","rightValue":"estados_compra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-ES-COM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c093f439-69dd-4274-b1fc-97a30a78b0f0","leftValue":"={{ $json.query.accion }}","rightValue":"compras","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-COMPRAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed23ab31-2ad0-4180-bca1-2cd311b3decf","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_compra","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-D-COM"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6babe589-438c-4ffc-b78c-24761211a934","leftValue":"={{ $json.query.accion }}","rightValue":"subproductos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-SUB-P"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1fe9e02c-7359-4a7f-857a-e48e2ba7ccc3","leftValue":"={{ $json.query.accion }}","rightValue":"productos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-PRODUCTO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e928c28c-f956-4162-9a23-7a09bfb64cf0","leftValue":"={{ $json.query.accion }}","rightValue":"recetas_subproducto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-R-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d159aef-50d4-4159-92db-4b2ce1990fdd","leftValue":"={{ $json.query.accion }}","rightValue":"recetas_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-PROD"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"858f5068-71ff-4264-b961-d91008d434d3","leftValue":"={{ $json.query.accion }}","rightValue":"produccion_subproducto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-SPRO-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9aa1cb8f-5ed2-41d2-9f51-e1d2b5ababda","leftValue":"={{ $json.query.accion }}","rightValue":"produccion_producto","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-PRO-SUB"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e67abcf-d210-4c68-af44-01e7f7c4c3bb","leftValue":"={{ $json.query.accion }}","rightValue":"estado_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-EST-E"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8563284-3ed8-4cbd-bab1-374e06ff5007","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_entrega","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-TIP-ENT"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1f385732-01ec-424d-88e7-def107fe8c75","leftValue":"={{ $json.query.accion }}","rightValue":"clientes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-CLIENTES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"812ed35e-d157-4c03-9d9f-8de4254cc2e9","leftValue":"={{ $json.query.accion }}","rightValue":"ventas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-VENTAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c6d17769-4646-4e9d-b43e-c273ee4b5bed","leftValue":"={{ $json.query.accion }}","rightValue":"detalles_venta","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-DET-VEN"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5e4030c8-fdec-41ae-95fe-ac808f8fdd05","leftValue":"={{ $json.query.accion }}","rightValue":"personalizaciones","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-PERSON"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f693701c-687f-4da6-8a17-092b8dbb89bf","leftValue":"={{ $json.query.accion }}","rightValue":"frases","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-FRASES"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd60289e-c646-471d-bb84-8d1ab15fa859","leftValue":"={{ $json.query.accion }}","rightValue":"entregas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-ENTREGAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b593cde5-3538-4bab-b4b5-bf6ad38b73e2","leftValue":"={{ $json.query.accion }}","rightValue":"finanzas","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-FINANZAS"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0f12bd4b-0fb9-4b4a-8732-c69f90d1999c","leftValue":"={{ $json.query.accion }}","rightValue":"tipos_incidencia","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-T-INCI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7760bbe6-2f56-4e99-82bf-b52a04c7c7c0","leftValue":"={{ $json.query.accion }}","rightValue":"incidencias","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-INCI"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a9e1b594-8129-4aa3-bff0-105ab10bb612","leftValue":"={{ $json.query.accion }}","rightValue":"negocio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"POST-NEGOCIO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[0,1712],"id":"5c5c4920-3835-4c51-b243-eeb76c5c45ff","name":"MODULIZADOR2"},{"parameters":{"operation":"executeQuery","query":"SELECT get_productos(\n  {{ $json.query.producto_id ? $json.query.producto_id : null }},\n  {{ $json.query.limit ? $json.query.limit : null }},\n  {{ $json.query.offset ? $json.query.offset : null }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,1776],"id":"82a9e426-4fc2-4a0a-a109-3409930059d5","name":"psql_post_1","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,1776],"id":"18652eb1-0f1d-47ba-be60-2702370a2a0f","name":"whk_rsp_post_1"},{"parameters":{"operation":"executeQuery","query":"SELECT get_productos(\n  {{ $json.query.producto_id ? $json.query.producto_id : null }},\n  {{ $json.query.limit ? $json.query.limit : null }},\n  {{ $json.query.offset ? $json.query.offset : null }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,1984],"id":"47ea6732-f13c-48fc-bc64-2922e75b6e0c","name":"psql_post_","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,1984],"id":"9422c62c-16dd-4002-bb02-891d976bf3ca","name":"whk_rsp_post_"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,2160],"id":"dd7bcb71-901c-401b-af78-72fc5ad6ec18","name":"whk_rsp_post_2"},{"parameters":{"operation":"executeQuery","query":"SELECT insert_incidencia(\n  {{ $json.body ? \"'\" + JSON.stringify($json.body) + \"'::jsonb\" : \"null\" }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,2496],"id":"7b63c5e8-3bb6-4067-9c17-b17ea27d9ab8","name":"psql_post_4","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,2496],"id":"a477c40f-a1f5-4217-ac53-7188ce4cb5b0","name":"whk_rsp_post_4"},{"parameters":{"operation":"executeQuery","query":"SELECT get_ventas({{ $json.query.id_cliente ? $json.query.id_cliente :null }}, {{ $json.query.id_estado_pago ? $json.query.id_estado_pago: null }},{{ $json.query.id_estado_entrega ? $json.query.id_estado_entrega:null }},{{ $json.query.fecha_desde ? $json.query.fecha_desde: null }}, {{ $json.query.fecha_hasta ? $json.query.fecha_hasta: null}}, {{ $json.query.id_venta ? $json.query.id_venta: null}}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-1056],"id":"bfba032b-5d11-4d03-8415-4982eac20f20","name":"psql_get_ventas","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ 200 }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-1056],"id":"64b3f9e5-7c58-4b75-865c-f7342b00e997","name":"whk_rsp_get_ventas"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM estado_entrega  ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-928],"id":"6fffff71-8c07-4d6d-9b82-2fc9673c2e16","name":"psql_get_est_entrega","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ 200 }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-928],"id":"ddf07d82-7496-4d32-a677-a89b3df0c1d9","name":"whk_rsp_get_est_entrega"},{"parameters":{"operation":"executeQuery","query":"SELECT get_usuarios({{ $json.query.user_id ? $json.query.user_id: null , $json.query.limit, $json.query.offset }}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-352],"id":"f4a689ef-d3ff-4650-82d4-62cb0d942157","name":"psql_get_usuarios","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ 200 }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-784],"id":"086ac6b7-cdd6-4131-a164-d3bcf075b3b8","name":"whk_rsp_get_roles"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM ROLES","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-784],"id":"1b5ecdc7-8d6c-45f4-af39-7dc9c76c798f","name":"psql_get_roles","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-352],"id":"5d0e2e74-0d5f-4205-81bf-964687451a37","name":"whk_rsp_get_usuarios"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM proveedores","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-208],"id":"5afe5f55-210a-4c9e-842a-841eca800801","name":"psql_get_proveedores","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"SELECT insertar_negocio(\n  {{ $json.body ? \"'\" + JSON.stringify($json.body) + \"'::jsonb\" : \"null\" }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,2688],"id":"7b9389cf-bda2-4f5d-8667-5383f3e79f8d","name":"psql_post_negocio","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-208],"id":"1114c57b-fba9-458a-91e1-91ce5975d851","name":"whk_rsp_get_proveedores"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,1264],"id":"0bb997c6-65f7-465e-9af3-d0f0e3a53e0f","name":"whk_rsp_get_negocio"},{"parameters":{"operation":"executeQuery","query":"SELECT get_negocio({{ $json.query.id_negocio ? $json.query.id_negocio : null }}) AS output_data","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,1264],"id":"b6f99e80-0590-4956-954e-0b4edd2386a9","name":"psql_get_negocio","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"SELECT get_recetas_producto({{ $json.query.id_producto ? $json.query.id_producto: null}},{{ $json.query.id_tamano ? $json.query.id_tamano: null }}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,768],"id":"b6f29747-f8d0-4d8e-88b7-e5b5db19a679","name":"psql_get_negocio1","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,768],"id":"d63d7fcb-7688-4d20-abda-5702f2cc3626","name":"whk_rsp_get_est_entrega1"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,2688],"id":"611ca08c-40de-40d8-b969-d7f8d682c65c","name":"whk_rsp_post_negocio"},{"parameters":{"operation":"executeQuery","query":"SELECT get_productos(\n  {{ $json.query.producto_id ? $json.query.producto_id : null }},\n  {{ $json.query.limit ? $json.query.limit : null }},\n  {{ $json.query.offset ? $json.query.offset : null }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,2160],"id":"45463c2c-894d-4587-a8e5-cd7c0cdffb47","name":"psql_post_6","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"SELECT ;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,1088],"id":"29adbe39-b35b-4dfa-bdb1-83180fdbc473","name":"psql_get_negocio3","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,1088],"id":"a62c3ab0-c088-4395-a7fa-bfc25e3db473","name":"whk_rsp_get_est_entrega3"},{"parameters":{"operation":"executeQuery","query":"SELECT get_clientes({{ $json.query.search ? $json.query.search: null}},{{ $json.query.tipo_documento ? $json.query.tipo_documento: null }}, {{ $json.query.activo ? $json.query.activo: null }}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[432,928],"id":"17189325-6371-4f69-a37c-3d684d7c73bd","name":"psql_get_clientes","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.data }}","options":{"responseCode":"={{ $json.output_data.status }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[640,928],"id":"bb3509aa-8026-4317-86e0-929713818a7b","name":"whk_rsp_get_clientes"},{"parameters":{"operation":"executeQuery","query":"SELECT get_productos({{ $json.query.producto_id ? $json.query.producto_id: null }}, {{ $json.query.limit }}, {{ $json.query.offset }}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,208],"id":"96060eb1-497e-473c-b7e5-293428f01ef1","name":"psql_get_productos","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,208],"id":"479397d9-189e-45cc-ac3b-4b08061abac2","name":"whk_rsp_get_productos"},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1152,624],"id":"215d6f7b-89d5-4fc5-b05f-e849b3dbae60","name":"RESPONSE SENCILLO TEST"},{"parameters":{"operation":"executeQuery","query":"SELECT * from INSUMOS LIMIT 5","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[976,-32],"id":"47565cf7-9f1c-4cb7-aa86-40d29dd5687d","name":"QUERY SENCILLA TEST","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"SELECT get_insumos({{ $json.query.id_insumo ? $json.query.id_insumo: null }}, {{ $json.query.limit }}, {{ $json.query.offset }}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,0],"id":"67681096-35e3-4de0-a852-a497eb11f078","name":"psql_get_insumos","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"operation":"executeQuery","query":"SELECT * from tamanos_producto ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[464,-496],"id":"a9af5ff7-d79c-4055-b5b6-1885bcb090ee","name":"psql_get_tamano_producto","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ 200 }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,-496],"id":"f5cd31f8-ddc3-4f3d-b163-819b8ac51938","name":"whk_rsp_get_tamano_producto"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,0],"id":"6eaf1e77-e3bf-4a69-81d7-533e44ec9104","name":"whk_rsp_get_insumos"},{"parameters":{"operation":"executeQuery","query":"SELECT insert_tipo_incidencia(\n  {{ $json.body ? \"'\" + JSON.stringify($json.body) + \"'::jsonb\" : \"null\" }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,2320],"id":"a02a4444-f0d5-418b-a8dd-08502324868e","name":"psql_post_tipos_incidencia","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,2320],"id":"28feda66-50eb-40a6-b87b-03fd4f790e26","name":"whk_rsp_post_tipos_incidencia"},{"parameters":{"operation":"executeQuery","query":"SELECT * from tipos_incidencia","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,464],"id":"a6dc7e42-54f7-4c18-b5cc-999b1b524207","name":"psql_get_tipos_incidencia","credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"allIncomingItems","options":{"responseCode":"={{ 200 }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[656,464],"id":"eb27b9af-0525-4a0f-b05c-2df4bb906057","name":"whk_rsp_get_tipos_incidencia"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[672,1632],"id":"b33a418f-fdd7-41b6-96b1-dda13d1d3be3","name":"whk_rsp_post_tipos_incidencia1"},{"parameters":{"operation":"executeQuery","query":"SELECT insert_insumo(\n  {{ $json.body ? \"'\" + JSON.stringify($json.body) + \"'::jsonb\" : \"null\" }}\n) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,1632],"id":"5a1c211b-9ced-47be-a211-f70dad7eb5b2","name":"psql_post_insumo","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}}],"connections":{"Webhook":{"main":[[{"node":"MODULIZADOR","type":"main","index":0}],[{"node":"MODULIZADOR2","type":"main","index":0}]]},"MODULIZADOR":{"main":[[{"node":"psql_get_ventas","type":"main","index":0}],[{"node":"psql_get_est_entrega","type":"main","index":0}],[{"node":"psql_get_roles","type":"main","index":0}],[],[{"node":"psql_get_tamano_producto","type":"main","index":0}],[{"node":"psql_get_usuarios","type":"main","index":0}],[{"node":"psql_get_proveedores","type":"main","index":0}],[{"node":"psql_get_insumos","type":"main","index":0}],[],[],[],[],[{"node":"psql_get_productos","type":"main","index":0}],[],[{"node":"psql_get_negocio1","type":"main","index":0}],[],[],[],[],[{"node":"psql_get_clientes","type":"main","index":0}],[{"node":"psql_get_negocio3","type":"main","index":0}],[],[],[],[],[],[{"node":"psql_get_tipos_incidencia","type":"main","index":0}],[],[{"node":"psql_get_negocio","type":"main","index":0}]]},"select_product_by_id4":{"main":[[{"node":"whk_rsp_get_venta5","type":"main","index":0}]]},"MODULIZADOR2":{"main":[[],[],[],[],[],[],[],[{"node":"psql_post_insumo","type":"main","index":0}],[],[{"node":"psql_post_1","type":"main","index":0}],[{"node":"psql_post_","type":"main","index":0}],[],[],[],[],[],[],[],[],[],[],[],[],[],[],[{"node":"psql_post_6","type":"main","index":0}],[{"node":"psql_post_tipos_incidencia","type":"main","index":0}],[{"node":"psql_post_4","type":"main","index":0}],[{"node":"psql_post_negocio","type":"main","index":0}]]},"psql_post_1":{"main":[[{"node":"whk_rsp_post_1","type":"main","index":0}]]},"psql_post_":{"main":[[{"node":"whk_rsp_post_","type":"main","index":0}]]},"psql_post_4":{"main":[[{"node":"whk_rsp_post_4","type":"main","index":0}]]},"psql_get_ventas":{"main":[[{"node":"whk_rsp_get_ventas","type":"main","index":0}]]},"psql_get_est_entrega":{"main":[[{"node":"whk_rsp_get_est_entrega","type":"main","index":0}]]},"psql_get_usuarios":{"main":[[{"node":"whk_rsp_get_usuarios","type":"main","index":0}]]},"psql_get_roles":{"main":[[{"node":"whk_rsp_get_roles","type":"main","index":0}]]},"psql_get_proveedores":{"main":[[{"node":"whk_rsp_get_proveedores","type":"main","index":0}]]},"psql_post_negocio":{"main":[[{"node":"whk_rsp_post_negocio","type":"main","index":0}]]},"psql_get_negocio":{"main":[[{"node":"whk_rsp_get_negocio","type":"main","index":0}]]},"psql_get_negocio1":{"main":[[{"node":"whk_rsp_get_est_entrega1","type":"main","index":0}]]},"psql_post_6":{"main":[[{"node":"whk_rsp_post_2","type":"main","index":0}]]},"psql_get_negocio3":{"main":[[{"node":"whk_rsp_get_est_entrega3","type":"main","index":0}]]},"psql_get_clientes":{"main":[[{"node":"whk_rsp_get_clientes","type":"main","index":0}]]},"psql_get_productos":{"main":[[{"node":"whk_rsp_get_productos","type":"main","index":0}]]},"QUERY SENCILLA TEST":{"main":[[{"node":"RESPONSE SENCILLO TEST","type":"main","index":0}]]},"psql_get_insumos":{"main":[[{"node":"whk_rsp_get_insumos","type":"main","index":0}]]},"psql_get_tamano_producto":{"main":[[{"node":"whk_rsp_get_tamano_producto","type":"main","index":0}]]},"psql_post_tipos_incidencia":{"main":[[{"node":"whk_rsp_post_tipos_incidencia","type":"main","index":0}]]},"psql_get_tipos_incidencia":{"main":[[{"node":"whk_rsp_get_tipos_incidencia","type":"main","index":0}]]},"psql_post_insumo":{"main":[[{"node":"whk_rsp_post_tipos_incidencia1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b7ff828f-cecc-49ab-ac83-d47070eae8d1","triggerCount":1,"shared":[{"updatedAt":"2025-10-24T18:22:12.584Z","createdAt":"2025-10-24T18:22:12.584Z","role":"workflow:owner","workflowId":"luitRrLpbgPj17Bw","projectId":"WrvsXos5XEQZNctn"}],"tags":[],"fileName":"\"=Miguel_Ayma/m.a.get_posttortaexpress-luitRrLpbgPj17Bw.json\""}