m.a.workflow_tests-mVJQmjGDny1sKQ5A.json

{"updatedAt":"2025-10-30T11:23:33.000Z","createdAt":"2025-10-24T18:02:35.993Z","id":"mVJQmjGDny1sKQ5A","name":"M.A.workflow_tests","active":false,"isArchived":false,"nodes":[{"parameters":{"multipleMethods":true,"httpMethod":["GET","POST","DELETE","PUT"],"path":"productos/","authentication":"headerAuth","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-16,416],"id":"77d7c7de-63a7-4b11-8e75-f99bb422df0d","name":"whk_gett_product1","webhookId":"a847d874-8de2-4ed2-a893-c59cecf8faeb","notesInFlow":false},{"parameters":{"operation":"executeQuery","query":"SELECT insertar_producto_validado('{{ JSON.stringify($json.body) }}'::JSONB) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,464],"id":"a68d127c-b942-444a-9625-e2a0199d8f5a","name":"psql_create_product","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[416,464],"id":"3ee0984b-a216-4024-b1e6-5218ab266bba","name":"whk_rsp_create"},{"parameters":{"operation":"executeQuery","query":"SELECT get_producto_por_id({{ $json.query.id }}) AS output_data;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[240,304],"id":"3da1e6f8-a720-4604-bbcc-3149c7371b7c","name":"select_product_by_id1","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $json.output_data.content }}","options":{"responseCode":"={{ $json.output_data.response_code }}"}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[448,304],"id":"bfaf8387-a90d-42a4-9400-c3937d30cf31","name":"whk_rsp_create1"},{"parameters":{"operation":"executeQuery","query":"SELECT * from  usuarios ","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[0,208],"id":"1bef6253-63bc-481a-846e-9892429e6352","name":"select_product_by_id","alwaysOutputData":true,"credentials":{"postgres":{"id":"O540Qv2p9jYYCOdZ","name":"psql_torta_express_crm"}}}],"connections":{"whk_gett_product1":{"main":[[{"node":"select_product_by_id1","type":"main","index":0}],[{"node":"psql_create_product","type":"main","index":0}]]},"psql_create_product":{"main":[[{"node":"whk_rsp_create","type":"main","index":0}]]},"select_product_by_id1":{"main":[[{"node":"whk_rsp_create1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd5e0b17-3cdb-426e-ae10-efe0f430915b","triggerCount":0,"shared":[{"updatedAt":"2025-10-24T18:02:35.999Z","createdAt":"2025-10-24T18:02:35.999Z","role":"workflow:owner","workflowId":"mVJQmjGDny1sKQ5A","projectId":"WrvsXos5XEQZNctn"}],"tags":[],"fileName":"\"=Miguel_Ayma/m.a.workflow_tests-mVJQmjGDny1sKQ5A.json\""}